.container {
  display: flex;
  padding-block: 1rem;
  flex-direction: column;
  padding-inline: 20rem;
}

.filter {
  display: flex;
  padding: 0.5rem;
  border-radius: 1rem;
  min-height: 30rem;
  min-width: 15rem;
}

.title {
  font-size: var(--fs-900);
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  user-select: none;
  font-weight: bold;
  width: max-content;
  margin: 0;
  margin-bottom: 1rem;
}

.line {
  height: 2px;
  width: 100%;
  background: var(--gradient-primary);
  margin-bottom: 1rem;
  //   border-radius: 30%;
}

.first-row {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.sort {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.select {
  width: 6rem;
  height: 1.5rem;
  margin-bottom: 1rem;
  background: black;
  border: none;
  border-radius: 5px;
  font-size: var(--fs-400);
  color: var(--white-primary);
}

.text {
  font-size: var(--fs-400);
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  user-select: none;
  font-weight: bold;
  width: max-content;
  margin: 0;
  margin-bottom: 1rem;
}

.filter {
  display: flex;
  flex-direction: column;
}

.filter-title {
  padding-block: 0.5rem;
  font-size: var(--fs-700);
}

.filter .line {
  margin-top: 0.5rem;
}

.filter-tools {
  display: flex;
  justify-content: space-between;
}

.second-row {
  display: flex;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 0.5rem;
  padding-inline: 1rem;
  justify-content: start;
  align-items: center;
}
