.container {
  display: flex;
  padding-block: 1rem;
  flex-direction: column;
  padding-inline: 1rem;
  justify-content: center;
  align-items: center;
}

.filter {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 1rem;
  min-width: 15rem;
}

.title {
  font-size: var(--fs-900);
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  user-select: none;
  font-weight: bold;
  width: max-content;
  margin: 0;
  margin-bottom: 1rem;
}

.line {
  height: 2px;
  background: var(--gradient-primary);
  margin-bottom: 1rem;
}

.main-line {
  height: 2px;
  background: var(--gradient-primary);
  margin-bottom: 1rem;
}

.first-row,
.second-row {
  width: 100%;
  max-width: 80rem;
  // padding: 0 1rem;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.second-row {
  display: flex;
  justify-content: space-between;
}

.sort {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.select {
  width: 6.2rem;
  height: 1.7rem;
  margin-bottom: 1rem;
  background: black;
  border: none;
  border-radius: 5px;
  font-size: var(--fs-400);
  color: var(--white-primary);
  font-family: var(--ff-secondary);
  font-weight: 400;
  text-align: center;
}

.text {
  font-family: var(--ff-secondary);
  font-weight: 600;
  font-size: var(--fs-400);
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  user-select: none;
  font-weight: bold;
  width: max-content;
  margin: 0;
  margin-bottom: 1rem;
}

.filter-title {
  padding-block: 0.5rem;
  font-size: var(--fs-700);
  font-family: var(--ff-secondary);
  font-weight: 700;
  color: var(--gradient-primary);
}

.filter .line {
  margin-top: 0.5rem;
}

.filter-tools {
  display: flex;
  justify-content: space-between;
  font-family: var(--ff-secondary);
  font-weight: 400;
}

.grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
}

@media screen and (max-width: 1410px) {
  .filter {
    min-width: 20%;
  }
}

@media screen and (max-width: 800px) {
  .second-row {
    flex-direction: column;
  }
  .info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .grid {
    justify-content: center;
  }
}
