<div class="grid">
  <div class="column newsletter">
    <h2>Newsletter</h2>
    <p>
      Want to know what we're up to? Sign up for the newsletter to recieve
      updates.
    </p>
    <div class="email">
      <input placeholder="Email address" type="email" />
      <button class="submit-btn">Subscribe</button>
    </div>
  </div>
  <div class="column socials">
    <h2>Socials</h2>
    <ul>
      <li>
        <i class="icon fa-brands fa-instagram"></i
        ><a href="https://www.instagram.com/nosicurrentwave/">Instagram</a>
      </li>
      <li>
        <i class="icon fa-brands fa-tiktok"></i
        ><a href="https://www.instagram.com/nosicurrentwave/">TikTok</a>
      </li>
      <li>
        <i class="icon fa-brands fa-facebook"></i
        ><a href="https://www.instagram.com/nosicurrentwave/">Facebook</a>
      </li>
    </ul>
  </div>
  <div class="column about">
    <h2>Info</h2>
    <ul>
      <li>
        <i class="icon fa-solid fa-envelope"></i
        ><span>currentwavewear&#64;gmail.com </span>
      </li>
      <li><i class="icon fa-solid fa-phone"></i><span>+38169758176</span></li>
      <li>
        <i class="icon fa-solid fa-circle-info"></i><a href="#">About Us</a>
      </li>
    </ul>
  </div>
</div>
