<div class="container" [class.visible]="cart().isVisible">
  <div class="top-bar">
    <div class="title">
      <i class="fas fa-basket-shopping"></i>
      Korpa
    </div>
    <div class="close" (click)="closeCart()">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </div>

  <div class="items">
    <cw-cart-item></cw-cart-item>
    <cw-cart-item></cw-cart-item>
    <cw-cart-item></cw-cart-item>
    <cw-cart-item></cw-cart-item>
    <cw-cart-item></cw-cart-item>
  </div>

  <div class="bottom-bar">
    <div class="cost subtotal"><span>Cena:</span> <span>5,970RSD</span></div>
    <div class="cost shipping"><span>Poštarina:</span><span>430RSD</span></div>
    <div class="cost total"><span>Ukupno:</span> <span>6,400RSD</span></div>
    <cw-button class="checkout" text="Checkout"></cw-button>
  </div>
</div>
