<div class="container" [class.visible]="cart().isVisible">
  <div class="top-bar">
    <div class="title">
      <i class="fas fa-basket-shopping"></i>
      Korpa
    </div>
    <div class="close" (click)="closeCart()">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </div>

  <div class="items">
    <div *ngIf="cart().items.length < 1" class="empty">Korpa je prazna</div>
    <cw-cart-item
      *ngFor="let cartItem of cart().items"
      [cartItem]="cartItem"
    ></cw-cart-item>
  </div>

  <div class="bottom-bar">
    <div class="cost subtotal">
      <span>Cena:</span>
      <span>{{ cart().totalAmount | currency : "" : "" : "1.0-0" }}RSD</span>
    </div>
    <div class="cost shipping">
      <span>Poštarina:</span
      ><span>{{ SHIPPING_COST | currency : "" : "" : "1.0-0" }}RSD</span>
    </div>
    <div class="cost total">
      <span>Ukupno:</span>
      <span
        >{{
          cart().totalAmount + SHIPPING_COST | currency : "" : "" : "1.0-0"
        }}RSD</span
      >
    </div>
    <cw-button
      class="checkout"
      text="Poruči"
      (clicked)="goToCart()"
    ></cw-button>
  </div>
</div>
