<div class="container">
  <div class="white-bar">
    <div class="logo"></div>
    <div class="title">CURRENT WAVE</div>
    <div class="cart">
      <div class="cart-button">
        <i class="fas fa-shopping-cart cart-icon"></i>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="logo-secondary"></div>
    <div class="slogan">
      Clothing brand ciji je glavni cilj kreiranje svezih i autenticnih
      dizajnova rap i adnime odece.
    </div>
  </div>

  <div class="left-image-wrapper">
    <img src="assets/apparel/kendrick.png" alt="Kendrick" class="left-image" />
  </div>
  <div class="right-image-wrapper">
    <img src="assets/apparel/kendrick.png" alt="Kendrick" class="right-image" />
  </div>
</div>
