<div class="container">
  <div class="black-overlay"></div>

  <div class="white-bar">
    <div class="logo">
      <img src="assets/current-wave-gradient.svg" />
    </div>
    <div class="title">CURRENT WAVE</div>
    <div class="cart">
      <div class="cart-button" (click)="openCart()">
        <i class="fas fa-basket-shopping cart-icon"></i>
      </div>
    </div>
  </div>

  <div class="hamburger-bar">
    <div class="hamburger-button">
      <i class="fas fa-bars cart-icon"></i>
    </div>
    <div class="logo-hamburger">
      <img src="assets/current-wave-gradient.svg" />
    </div>
    <div></div>
  </div>

  <div class="content">
    <img src="assets/current-wave-white.svg" class="logo-secondary" />
    <div class="slogan">Pridruži se talasu.</div>
  </div>

  <button class="browse-button">Pogledaj kolekciju</button>

  <div class="left-image-wrapper wrapper-position">
    <img
      src="assets/apparel/cench.png"
      alt="Kendrick"
      class="left-image tshirt image"
      [ngClass]="{ show: isAnimationTriggered }"
    />
  </div>

  <div class="left-image-wrapper-2 wrapper-position">
    <img
      src="assets/apparel/kendrick.png"
      alt="Kendrick"
      class="left-image-2 tshirt image"
      [ngClass]="{ show: isAnimationTriggered }"
    />
  </div>

  <div class="right-image-wrapper wrapper-position">
    <img
      src="assets/apparel/gojo.png"
      alt="Kendrick"
      class="right-image tshirt image"
      [ngClass]="{ show: isAnimationTriggered }"
    />
  </div>

  <div class="right-image-wrapper-2 wrapper-position">
    <img
      src="assets/apparel/travis.png"
      alt="Kendrick"
      class="right-image-2 tshirt image"
      [ngClass]="{ show: isAnimationTriggered }"
    />
  </div>
</div>
