<div class="container">
  <div class="black-overlay"></div>

  <div class="white-bar">
    <div class="logo">
      <a routerLink="/">
        <img src="assets/current-wave-gradient.svg" alt="logo" />
      </a>
    </div>
    <div class="title">
      <a routerLink="/"> CURRENT WAVE</a>
    </div>
    <div class="cart">
      <div id="openCart" class="cart-button" (click)="openCart()">
        <i class="fas fa-basket-shopping cart-icon"></i>
      </div>
    </div>
  </div>

  <div class="hamburger-bar">
    <div
      class="hamburger-button"
      [class.is-active]="isHamburgerOpen"
      (click)="toggleHamburger()"
    >
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
    <div class="logo-hamburger">
      <img src="assets/current-wave-white.svg" alt="logo" />
    </div>
    <div></div>
  </div>
  <div
    id="menu-overlay"
    class="menu-overlay"
    [class.show]="isHamburgerOpen"
    (click)="toggleHamburger()"
  ></div>
  <nav id="mobile-menu" class="mobile-menu" [class.show]="isHamburgerOpen">
    <ul>
      <li>
        <a routerLink="/" class="menu-item">
          <i class="fas fa-house"></i><span>Home</span>
        </a>
      </li>
      <li>
        <a routerLink="/products" class="menu-item">
          <i class="fas fa-shirt"></i><span>Kolekcija</span>
        </a>
      </li>
      <li>
        <a routerLink="/cart" class="menu-item">
          <i class="fas fa-basket-shopping"></i><span>Korpa</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="content">
    <img
      src="assets/current-wave-white.svg"
      class="logo-secondary"
      alt="logo"
    />
    <div class="slogan">Pridruži se talasu.</div>
  </div>

  <button class="browse-button" (click)="openProductPage()">
    Pogledaj kolekciju
  </button>

  <div class="left-image-wrapper wrapper-position">
    <img
      src="assets/apparel/cench.webp"
      alt="Kendrick"
      class="left-image tshirt image"
      [ngClass]="{ show: isAnimationTriggered }"
    />
  </div>

  <div class="left-image-wrapper-2 wrapper-position">
    <img
      src="assets/apparel/kendrick.webp"
      alt="Kendrick"
      class="left-image-2 tshirt image"
      [ngClass]="{ show: isAnimationTriggered }"
    />
  </div>

  <div class="right-image-wrapper wrapper-position">
    <img
      src="assets/apparel/gojo.webp"
      alt="Kendrick"
      class="right-image tshirt image"
      [ngClass]="{ show: isAnimationTriggered }"
    />
  </div>

  <div class="right-image-wrapper-2 wrapper-position">
    <img
      src="assets/apparel/travis.webp"
      alt="Kendrick"
      class="right-image-2 tshirt image"
      [ngClass]="{ show: isAnimationTriggered }"
    />
  </div>
</div>
