.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  min-height: 25rem;
  background: var(--gradient-secondary);
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.black-overlay {
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 1; 
  pointer-events: none;
  opacity: 0.05; 
  transition: opacity 0.5s ease; 
}

.white-bar {
  padding-inline: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  width: 75%;
  height: 3.2rem;
  background: var(--white-primary);
  border: 1px solid rgba(var(--clr-outline), 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  position: relative;
  z-index: 2;
  max-width: min(90rem, 90%);
}

.white-bar > * {
  flex-basis: 0;
}


.logo {
  display: flex;
  align-items: center;
  flex-grow: 0.5;
}

.logo img {
  width: 3rem;
  height: 3rem;
}

.title {
  display: flex;
  font-family: "Gotham Black", sans-serif;
  font-weight: bold;
  font-size: var(--fs-1000);
  background: var(--gradient-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  user-select: none;
  cursor: default;
  justify-content: center;
  flex-grow: 2;
}

.cart {
  flex-grow: 0.5;
}

.cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 2rem;
  background: var(--gradient-primary);
  border-radius: 1rem;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid transparent;
  margin-left: auto;
  transition: 0.2s linear;
  background-repeat: no-repeat;
  background-clip: padding-box;
  position: relative;
}

.cart-button::before {
  position: absolute;
  content: "";
  border-radius: 1rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--white-primary);
  z-index: 2;
  transition: opacity 0.2s linear;
  opacity: 0;
}

.cart-button:hover::before {
  opacity: 1;
}

.cart-button:hover {
  border-color: black;
}

.cart-button i {
  font-size: 1rem;
  color: var(--white-primary);
  transition: color 0.2s ease-in;
}

.cart-button:hover i {
  color: black;
}

.cart-icon {
  z-index: 4;
}

.browse-button {
  position: relative;
  z-index: 2;
  height: 3rem;
  width: 12rem;
  outline: none;
  border: none;
  flex-grow: 0.3;
  background-color: var(--clr-primary);
  color: var(--white-primary);
  font-family: var(--ff-primary);
  font-size: 1.05rem;
  transition: 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 3px solid var(--white-primary);
}

.browse-button:hover {
  cursor: pointer;
  background-color: var(--clr-primary-700);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  flex-wrap: wrap;
  width: 100%;
}

.logo-secondary {
  max-width: 22rem;
  max-height: 22rem;
  color: var(--white-primary);
  display: block;
}

.slogan {
  position: absolute;
  font-size: var(--fs-600);
  max-width: 30rem;
  padding-inline: 1.5rem;
  padding-bottom: 1.5rem;
  font-family: var(--ff-secondary);
  color: var(--white-primary);
  user-select: none;
  cursor: default;
  z-index: 2;
  top: 80%;
}

.wrapper-position {
  display: flex;
  position: absolute;
  z-index: 0;
}

.left-image-wrapper {
  top: -5rem;
  left: -10rem;
}

.left-image-wrapper-2 {
  top: -5rem;
  left: -30rem;
}

.right-image-wrapper {
  top: -5rem;
  right: -10rem;
}

.right-image-wrapper-2 {
  top: -4rem;
  right: -25rem;
}

.image{
  max-width: 60rem;
  max-height: 60rem;
  transition: width 0.3s ease, height 0.3s ease;
}

.left-image {
  transform: rotate(15deg);
  --rotation: 15deg; 
  animation-delay: 0.2s; 
  animation-name: slide-in; 
}

.right-image {
  transform: rotate(-15deg);
  --rotation: -15deg; 
  animation-delay: 0.2s; 
  animation-name: slide-in; 
}

.left-image-2 {
  transform: rotate(-10deg);
  --rotation: -10deg; 
  animation-delay: 0.3s; 
  animation-name: slide-in; 
}

.right-image-2 {
  transform: rotate(25deg);
  --rotation: 25deg; 
  animation-delay: 0.3s; 
  animation-name: slide-in; 
}

.hamburger-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  max-height: 3rem;
  background-color: var(--white-primary);
  display: none;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
}

.hamburger-button {
  background: var(--gradient-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.logo-hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-hamburger img {
  width: 3rem;
  height: 3rem;
}

@media screen and (max-width: 1770px) {
  .image {
    max-width: 55rem;
    max-height: 55rem;
  }

  .black-overlay {
    opacity: 0.10; 
  }

  .left-image-wrapper {
    top: -2rem;
    left: -8rem;
  }
  
  .left-image-wrapper-2 {
    top: -2rem;
    left: -25rem;
  }
  
  .right-image-wrapper {
    top: -2rem;
    right: -8rem;
  }
  
  .right-image-wrapper-2 {
    top: -2rem;
    right: -20rem;
  }
}

@media screen and (max-width: 1600px) {
  .black-overlay {
    opacity: 0.15; 
  }
}

@media screen and (max-width: 1100px) {
  .image {
    max-width: 45rem;
    max-height: 45rem;
  }

  .black-overlay {
    opacity: 0.25; 
  }

  .left-image-wrapper {
    top: -1rem;
    left: -8rem;
  }
  
  .left-image-wrapper-2 {
    top: -1rem;
    left: -25rem;
  }
  
  .right-image-wrapper {
    top: -1rem;
    right: -8rem;
  }
  
  .right-image-wrapper-2 {
    top: -1rem;
    right: -20rem;
  }
}

@media screen and (max-width: 800px) {
  .hamburger-bar {
    display: flex;
  }

  .white-bar {
    display: none;
  }

  .black-overlay {
    opacity: 0.35; 
  }

  .image {
    max-width: 30rem;
    max-height: 30rem;
  }

  .left-image-wrapper {
    top: 1rem;
    left: -4rem;
  }
  
  .left-image-wrapper-2 {
    top: 1rem;
    left: -15rem;
  }
  
  .right-image-wrapper {
    top: 1rem;
    right: -4rem;
  }
  
  .right-image-wrapper-2 {
    top: 2rem;
    right: -15rem;
  }
}



@media screen and (max-width: 600px) {
  .image {
    max-width: 29rem;
    max-height: 29rem;
  }

  .black-overlay {
    .black-overlay {
      opacity: 0.45;
    }
  }

  .left-image-wrapper {
    top: 2rem;
    left: -10rem;
  }
  
  .left-image-wrapper-2 {
    top: 2rem;
    left: -15rem;
    display: none;
  }
  
  .right-image-wrapper {
    top: 2rem;
    right: -10rem;
  }
  
  .right-image-wrapper-2 {
    top: 2rem;
    right: -15rem;
    display: none;
  }
}

.tshirt {
  opacity: 0; 
  transform: translateY(50px) rotate(0deg); 
  animation-duration: 0.8s; 
  animation-fill-mode: forwards; 
  transition: transform 0.5s; 
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(50px) rotate(0deg); 
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(var(--rotation)); 
  }
}