.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  background: var(--gradient-primary);
}

.white-bar {
  padding-inline: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  width: 75%;
  height: 3.2rem;
  background: var(--white-primary);
  border: 1px solid rgba(var(--clr-outline), 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  position: relative;
  z-index: 2;
  max-width: min(90rem, 90%);
}

.white-bar > * {
  flex-basis: 0;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 0.5;
}

.logo img {
  width: 3rem;
  height: 3rem;
}

.title {
  display: flex;
  font-family: "Gotham Black", sans-serif;
  font-weight: bold;
  font-size: var(--fs-1000);
  background: var(--gradient-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  user-select: none;
  cursor: default;
  justify-content: center;
  flex-grow: 2;
}

.cart {
  flex-grow: 0.5;
}

.cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 2rem;
  background: var(--gradient-primary);
  border-radius: 1rem;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid transparent;
  margin-left: auto;
  transition: 0.2s linear;
  background-repeat: no-repeat;
  background-clip: padding-box;
  position: relative;
}

.cart-button::before {
  position: absolute;
  content: "";
  border-radius: 1rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--white-primary);
  z-index: 2;
  transition: opacity 0.2s linear;
  opacity: 0;
}

.cart-button:hover::before {
  opacity: 1;
}

.cart-button:hover {
  border-color: black;
}

.cart-button i {
  font-size: 1rem;
  color: var(--white-primary);
  transition: color 0.2s ease-in;
}

.cart-button:hover i {
  color: black;
}

.cart-icon {
  z-index: 4;
}

.hamburger-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  max-height: 3rem;
  background: var(--gradient-primary);
  color: var(--white-primary);
  // background-color: var(--white-primary);
  display: none;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
}

.line {
  background-color: var(--white-primary);
  width: 20px;
  height: 2px;
  display: block;
  margin: 4px auto;
  transition: all 0.3s ease-in-out;
}

.hamburger-button.is-active .line:nth-child(2) {
  opacity: 0;
}

.hamburger-button.is-active .line:nth-child(1) {
  -webkit-transform: translateY(6px) rotate(45deg);
  -ms-transform: translateY(6px) rotate(45deg);
  -o-transform: translateY(6px) rotate(45deg);
  transform: translateY(6px) rotate(45deg);
}

.hamburger-button.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(-45deg);
  -ms-transform: translateY(-6px) rotate(-45deg);
  -o-transform: translateY(-6px) rotate(-45deg);
  transform: translateY(-6px) rotate(-45deg);
}

.logo-hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-hamburger img {
  width: 3rem;
  height: 3rem;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 8;
  display: none;
}

.menu-overlay.show {
  opacity: 1;
  visibility: visible;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 3rem;
  left: 0;
  height: 100vh;
  width: 80%;
  background: var(--white-primary);
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease, opacity 0.2s linear;
  z-index: 9;
  pointer-events: none;
}

.mobile-menu.show {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.menu-item {
  position: relative;
  font-family: var(--ff-secondary);
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 1rem;
  cursor: pointer;
  transition: 0.2s linear;
}

.menu-item::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--gradient-secondary);
  z-index: 1;
  transition: opacity 0.2s linear;
  opacity: 0;
  user-select: none;
}

.menu-item:hover::before {
  opacity: 1;
}

.menu-item:hover {
  color: white;

  i {
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.menu-item i {
  background: var(--gradient-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  user-select: none;
  z-index: 2;
  transition: 0.2s linear;
}

.menu-item span {
  z-index: 2;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 840px) {
  .container {
    background: none;
  }
  .mobile-menu {
    display: flex;
  }
  .menu-overlay {
    display: block;
  }

  .hamburger-bar {
    display: flex;
  }

  .white-bar {
    display: none;
  }
}
