<div class="container">
  <div class="white-bar">
    <div class="logo">
      <img src="assets/current-wave-gradient.svg" />
    </div>
    <div class="title">CURRENT WAVE</div>
    <div class="cart">
      <div class="cart-button">
        <i class="fas fa-basket-shopping cart-icon"></i>
      </div>
    </div>
  </div>

  <div class="hamburger-bar">
    <div class="hamburger-button">
      <i class="fas fa-bars cart-icon"></i>
    </div>
    <div class="logo-hamburger">
      <img src="assets/current-wave-gradient.svg" />
    </div>
    <div></div>
  </div>
</div>
