<h1 class="title">KORPA</h1>
<div class="wrapper">
  <div class="items">
    <div *ngIf="cart().items.length < 1" class="empty">
      <div>Korpa je prazna</div>
      <a routerLink="/products">
        <cw-button text="Pogledaj kolekciju"></cw-button>
      </a>
    </div>
    <cw-cart-item
      *ngFor="let cartItem of cart().items"
      [cartItem]="cartItem"
    ></cw-cart-item>
  </div>
  <div class="info">
    <div class="cost subtotal">
      <span>Cena:</span>
      <span>{{ cart().totalAmount | currency : "" : "" : "1.0-0" }}RSD</span>
    </div>
    <div class="cost shipping">
      <span>Poštarina:</span
      ><span>{{ SHIPPING_COST | currency : "" : "" : "1.0-0" }}RSD</span>
    </div>
    <div class="cost total">
      <span>Ukupno:</span>
      <span
        >{{
          cart().totalAmount + SHIPPING_COST | currency : "" : "" : "1.0-0"
        }}RSD</span
      >
    </div>
    <cw-button class="checkout" text="Poruči"></cw-button>
  </div>
</div>
