<img class="card" src="assets/apparel/gokupost.jpg" />
<div class="info">
  <div class="row basic-info">
    <div class="name">Goku (Dragon Ball)</div>
    <div class="price">RSD1990</div>
  </div>
  <div class="row tags">
    <div class="tag">Anime</div>
    <div class="tag">Majica</div>
  </div>
  <div class="row bottom">
    <div class="click">(Click to show more information)</div>
    <cw-button
      iconClasses="fas fa-shopping-cart"
      text="Add to cart"
    ></cw-button>
  </div>
</div>
