<img class="card" [src]="design.image" />
<div class="info">
  <div class="row basic-info">
    <div class="name">{{ design.name }}</div>
    <div class="price">{{ (design.price | currency : "RSD")! }}</div>
  </div>
  <div class="row tags">
    <div class="tag">{{ design.category }}</div>
    <div class="tag">{{ design.type }}</div>
  </div>
  <div class="row bottom">
    <div class="click">(Click to show more information)</div>
    <cw-button
      iconClasses="fas fa-shopping-cart"
      text="Add to cart"
    ></cw-button>
  </div>
</div>
