<div (click)="showDesign()">
  <img
    class="card"
    loading="lazy"
    [src]="design.image"
    alt="{{ design.name }}"
    (load)="onImageLoad()"
  />
</div>
<div *ngIf="!imageLoaded" class="loader">
  <img src="assets/current-wave-skeleton.svg" alt="Loading..." />
</div>
<div class="info" (click)="showDesign()">
  <div class="row basic-info">
    <div class="name">{{ design.name }}</div>
    <div class="price">{{ (design.price | currency : "RSD")! }}</div>
  </div>
  <div class="row tags">
    <div class="tag">{{ design.category }}</div>
    <div class="tag">{{ design.type }}</div>
  </div>
  <div class="row bottom">
    <div class="click">(Klikni za još informacija)</div>
    <cw-button
      iconClasses="fas fa-basket-shopping"
      text="Dodaj u korpu"
      (click)="showDesign()"
    ></cw-button>
  </div>
</div>
