<div class="card">
  <img class="image" [src]="cartItem.design.image" />
  <div class="content">
    <div class="title">
      <span class="name">{{ cartItem.design.name }}</span>
      <i
        id="deleteItem"
        class="delete fa-regular fa-trash-can"
        (click)="deleteItem()"
      ></i>
    </div>
    <div class="size">Veličina: {{ cartItem.size }}</div>
    <div class="price">
      Cena: {{ cartItem.design.price | currency : "" : "" : "1.0-0" }}RSD
    </div>
    <div class="quantity">
      <div class="quantity-input">
        <div class="quantity-button" (click)="decreaseQuantity()">-</div>
        <input
          [value]="cartItem.quantity"
          disabled
          type="number"
          min="1"
          max="99"
          name="quantity"
          id="quantity"
        />
        <div class="quantity-button" (click)="increaseQuantity()">+</div>
      </div>
      <span class="total"
        >{{
          cartItem.quantity * cartItem.design.price
            | currency : "" : "" : "1.0-0"
        }}RSD</span
      >
    </div>
  </div>
</div>
