<div class="card">
  <img class="image" src="assets/apparel/gokupost.jpg" />
  <div class="content">
    <div class="title">
      <span class="name">Kid Goku Majica</span>
      <i class="fa-regular fa-trash-can"></i>
    </div>
    <div class="size">Veličina: M</div>
    <div class="price">Cena: 1990RSD</div>
    <div class="quantity">
      <div class="quantity-input">
        <div class="quantity-button">-</div>
        <input value="1" type="number" name="quantity" id="quantity" />
        <div class="quantity-button">+</div>
      </div>
      <span class="total">1990RSD</span>
    </div>
  </div>
</div>
