<div class="container">
  <div class="apparel-images">
    <div class="image-wrapper">
      <img [src]="selectedImage" alt="{{ design?.name }}" class="main-image" />
    </div>
    <div class="thumbnail-images">
      <div class="thumbnail" (click)="showImage(design?.image)">
        <img [src]="design?.image" />
      </div>
      <div class="thumbnail" (click)="showImage(design?.front)">
        <img [src]="design?.front" />
      </div>
      <div class="thumbnail" (click)="showImage(design?.back)">
        <img [src]="design?.back" />
      </div>
    </div>
  </div>

  <div class="apparel-info">
    <div class="name">{{ design?.name }}</div>
    <div class="category">{{ design?.category }} {{ design?.type }}</div>
    <div class="price">{{ design?.price }}.00 rsd</div>
    <div class="all-sizes">
      <div *ngFor="let size of sizes" class="selected-size">
        {{ size }}
      </div>
    </div>
    <button class="add-to-cart-btn" (click)="addToCart()">Dodaj u korpu</button>
  </div>
</div>
