.container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.apparel-info {
  display: flex;
  flex-direction: column;
  max-width: 32rem;
  max-height: 34rem;
  padding: 2rem;
  padding-left: 0;
  gap: 1rem;
}

.name {
  font-size: 3rem;
}

.category {
  font-size: 2rem;
}

.price {
  font-size: 1.5rem;
  color: black;
}

.size {
  font-size: 1rem;
}

.add-to-cart-btn {
  max-width: 22rem;
  height: 5rem;
  outline: none;
  border: none;
  background-color: var(--white-primary);
  color: black;
  font-family: var(--ff-primary);
  font-size: 1.4rem;
  border: 3px solid black;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.add-to-cart-btn:hover {
  background-color: black;
  color: var(--white-primary);
}

.apparel-images {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.thumbnail-images {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

.thumbnail {
  cursor: pointer;
}

.thumbnail img {
  width: 5rem;
  height: auto;
  border-radius: 0.5rem;
  border: none;
}

.size-selection {
  padding-bottom: 1rem;
}

.main-image {
  width: 30rem;
  height: 30rem;
  transition: transform 0.3s ease;
  border: none;
}

.image-wrapper {
  width: 30rem;
  height: 30rem;
  overflow: hidden;
  position: relative;
  border-radius: 1.5rem;
  cursor: zoom-in;
  border: none;
}

.image-wrapper:hover .main-image {
  transform: scale(1.05);
  cursor: pointer;
  transition: transform 0.5s ease;
}

.all-sizes {
  display: flex;
  padding: 0.5rem;
  padding-left: 0;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.5rem;
}

.selected-size {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 1rem;
  height: auto;
  width: 3.2rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-sizing: border-box;
}

.selected-size:hover {
  background-color: black;
  color: var(--white-primary);
}
