:root {
  --gradient-primary: linear-gradient(to right, #25deff, #81b7ff);
  --gradient-white: linear-gradient(to right, #fafafa, #fafafa);
  --gradient-secondary: linear-gradient(
    to right,
    #6fc2e4 0%,
    #44bbed 63%,
    #0cb3f8 100%
  );
  --white-primary: #fafafa;
  --white-primary-alpha: rgba(250, 250, 250, 0.3);
  --clr-primary: #6fc2e4;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gotham Black";
}

@font-face {
  font-family: "Gotham Black";
  src: url("/assets/fonts/GOTHAM-BLACK.OTF") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ASAP Bold";
  src: url("/assets/fonts/ASAP-BOLD.OTF") format("opentype");
  font-weight: bold;
  font-style: normal;
}
