:root {
  --gradient-primary: linear-gradient(to right, #25deff, #81b7ff);
  --gradient-white: linear-gradient(to right, #fafafa, #fafafa);
  --gradient-secondary: linear-gradient(
    to right,
    #6fc2e4 0%,
    #44bbed 63%,
    #0cb3f8 100%
  );
  --white-primary: #fafafa;
  --white-primary-alpha: rgba(250, 250, 250, 0.3);
  --clr-primary: #4dbceb;
  --clr-primary-700: #7ac8e9;
  --clr-primary-alpha: #4dbcebb4;
  --clr-error: #eb4d4d;
  --clr-offwhite: #c0e4f1;
  --clr-offwhite-700: hsl(196, 64%, 94%);
  --clr-gray: hsl(0, 0%, 94%);

  --fs-1000: 2.5rem;
  --fs-900: 2.25rem;
  --fs-800: 2rem;
  --fs-700: 1.5rem;
  --fs-600: 1.25rem;
  --fs-500: 1.15rem;
  --fs-400: 1rem;
  --fs-300: 0.85rem;

  --ff-main: "ASAP Bold", sans-serif;
  --ff-secondary: "Poppins", sans-serif;
}

@media screen and (max-width: 840px) {
  :root {
    --fs-1000: 2rem;
    --fs-900: 1.75rem;
    --fs-800: 1.5rem;
    --fs-700: 1.25rem;
    --fs-600: 1.1rem;
    --fs-500: 1rem;
    --fs-400: 0.85rem;
    --fs-300: 0.75rem;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gotham Black";
  background-color: var(--white-primary);
}

:root,
body {
  height: 100%;
}

@font-face {
  font-family: "Gotham Black";
  src: url("assets/fonts/GOTHAM-BLACK.OTF") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ASAP Bold";
  src: url("assets/fonts/ASAP-BOLD.OTF") format("opentype");
  font-weight: bold;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  user-select: none;
  pointer-events: none;
}

::selection {
  background-color: var(--clr-primary-alpha);
  color: var(--white-primary);
}

::-moz-selection {
  background-color: var(--clr-primary-alpha);
  color: var(--white-primary);
}
