.wrapper {
  max-width: min(90rem, 90%);
  margin-inline: auto;
  box-sizing: border-box;
  margin-bottom: 2rem;
  min-height: 40rem;
}

.title {
  text-align: center;
  font-size: var(--fs-1000);
  background: var(--gradient-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  user-select: none;
  font-weight: bold;
  width: max-content;
  margin-inline: auto;
}

.subtitle {
  font-size: var(--fs-900);
  background: var(--gradient-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  user-select: none;
  font-weight: bold;
  width: max-content;
}

.grid {
  --grid-layout-gap: 1rem;
  --grid-column-count: 3;
  --grid-item--min-width: 15rem;

  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc(
    (100% - var(--total-gap-width)) / var(--grid-column-count)
  );

  display: grid;
  width: 100%;
  gap: 1rem;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
  );
  justify-content: center;
}

.visible {
  display: grid;
}

.show-more {
  /* background-color: var(--clr-gray); */
  font-family: var(--ff-secondary);
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.2s ease;
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0.25rem;
}

.content {
  background-color: var(--white-primary);
  width: 100%;
  height: 100%;
  border-radius: 0.55rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: var(--fs-700);
  font-weight: bold;
  text-align: center;
}

.show-more:hover {
  transform: scale(1.02);
  cursor: pointer;
  -webkit-box-shadow: 10px 10px 35px -10px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 10px 10px 35px -10px rgba(0, 0, 0, 0.65);
  box-shadow: 10px 10px 35px -10px rgba(0, 0, 0, 0.65);
}

.show-more::before {
  content: "";
  display: block;
  background: var(--gradient-secondary);
  height: 700px;
  width: 700px;
  position: absolute;
  animation: rotate 1s linear infinite;
  z-index: -1;
}

.logo {
  width: 50%;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
